/* Footer.css */

/* General Footer Styles */
.footer {
  background-image: url("/gta.jpg");
  padding: 2rem 0;
  position: relative;
  border-top: solid rgb(25, 26, 32) 3px;
}

.container {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 0;
}

@media (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    text-align: left;
  }
}

.footer-logo {
  height: 70px;
  width: 70px;
  transition: all 0.2s ease;
  padding: 0;
  margin: 0;
}

.footer-logo:hover {
  transform: scale(1.1);
}

.footer-powered {
  padding: 0;
  margin: 0;
}
