/* Global Styles */
@font-face {
  font-family: "Gotham Black";
  src: url("/GothamBlack.otf") format("opentype");
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

/* Border Radius */
.lg {
  border-radius: 10px;
}
.md {
  border-radius: 8px;
}
.sm {
  border-radius: 6px;
}
